Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a non-relational document database that provides support for JSON-like storage. The MongoDB database has a flexible data model that enables you to store unstructured data, and it provides full indexing support, and replication with rich and intuitive APIs.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems.

In comparison to the SQL server, MongoDB is faster and more scalable. While the SQL server supports JOIN and Global transactions, MongoDB does not. The MS SQL server does not accommodate large amounts of data, however MongoDB does.

Q2. State and Explain the features of MongoDB.

Features of MongoDB â€“

1. Schema-less Database: It is the great feature provided by the MongoDB. A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to databases.

2. Document Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

3. Indexing: In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

4. Scalability: MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

5. Replication: MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

6. Aggregation: It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods.

7. High Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

Advantages of MongoDB : 

1. It is a schema-less NoSQL database. You need not to design the schema of the database when you are working with MongoDB.
2. It does not support join operation.
3. It provides great flexibility to the fields in the documents.
4. It contains heterogeneous data.
5. It provides high performance, availability, scalability.
6. It supports Geospatial efficiently.
7. It is a document oriented database and the data is stored in BSON documents.
8. It also supports multiple document ACID transition(string from MongoDB 4.0).
9. It does not require any SQL injection.
10. It is easily integrated with Big Data Hadoop

Disadvantages of MongoDB : 
 

1. It uses high memory for data storage.
2. You are not allowed to store more than 16MB data in the documents.
3. The nesting of data in BSON is also limited you are not allowed to nest data more than 100 levels.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

In [2]:
uri = "mongodb+srv://nutanbagde93:3i9lXaKEWEBTaLSy@cluster0.94hb1at.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
#creat data base
db=client['New_dataBase']

In [4]:
# create a collection
coll_creat=db["My_collection"]

In [5]:
# create a data, in mangoDB dictinary called as JSON
data={'name':"nutan",
      "class":"data Science master",
      "time":"flex"
    
}

In [7]:
coll_creat.insert_one(data)

In [8]:
#give only all record in python
for i in coll_creat.find():
    print(i)

{'_id': ObjectId('644e9946ce21fb70dea8e20f'), 'name': 'nutan', 'class': 'data Science master', 'time': 'flex'}

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [15]:
data1={"mail_id1": "nutanbagde93@gmail.com",
       "phone_no1": 9637562740 
}

In [16]:
#insert one record
coll_creat.insert_one(data1)

In [17]:
# insert many records
data2=[{"name":"Amy" , "address":"Apple at 652"},
       {"name":"Hannah" , "address": "Mountain 21"},
       {"name":"Michael" , "address":"Vally 345"},
       {"name":"Sandy" , "address": "Ocean bldv 2"},
       {"name":"Betty" , "address":"Green Gras 1" },
       {"name":"Richard" , "address": "Sky at 331"},
       {"name":"Susan" , "address":"One way 98"},
       {"name":"Vicky" , "address":"Yellow garden 2"},
       {"name":"Ben" , "address":"Park lane 38"},
       {"name":"William" , "address":"Central st 954"},
       {"name":"chuck" , "address":"Main Road 989"},
       {"name":"Viola" , "address":"Sideway 1633"}
]

In [19]:
coll_creat.insert_many(data2)

In [20]:
#give only all record in python
for i in coll_creat.find():
    print(i)

{'_id': ObjectId('644e9946ce21fb70dea8e20f'), 'name': 'nutan', 'class': 'data Science master', 'time': 'flex'}
{'_id': ObjectId('644e9a09ce21fb70dea8e210'), 'mail_id': 'nutanbagde93@gmail.com', 'phone_no': 9637562740}
{'_id': ObjectId('644e9a84ce21fb70dea8e211'), 'mail_id1': 'nutanbagde93@gmail.com', 'phone_no1': 9637562740}
{'_id': ObjectId('644e9a94ce21fb70dea8e212'), 'name': 'Amy', 'address': 'Apple at 652'}
{'_id': ObjectId('644e9a94ce21fb70dea8e213'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('644e9a94ce21fb70dea8e214'), 'name': 'Michael', 'address': 'Vally 345'}
{'_id': ObjectId('644e9a94ce21fb70dea8e215'), 'name': 'Sandy', 'address': 'Ocean bldv 2'}
{'_id': ObjectId('644e9a94ce21fb70dea8e216'), 'name': 'Betty', 'address': 'Green Gras 1'}
{'_id': ObjectId('644e9a94ce21fb70dea8e217'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('644e9a94ce21fb70dea8e218'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('644e9a94ce21fb70dea8e219'), 'name': 'Vicky', 'address': 'Yellow garden 2'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21a'), 'name': 'Ben', 'address': 'Park lane 38'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21c'), 'name': 'chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21d'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [21]:
#give only first record in python
coll_creat.find_one()

{'_id': ObjectId('644e9946ce21fb70dea8e20f'),
 'name': 'nutan',
 'class': 'data Science master',
 'time': 'flex'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

To select data from a table in MongoDB, we can also use the find() method. The find() method returns all occurrences in the selection. The first parameter of the find() method is a query object. In this example we use an empty query object, which selects all documents in the collection.

Syntax:

find(query,projection)
Find method consists of two parameters by which we can fetch a particular record. If we donâ€™t use these two parameters then the find method will return all the documents available within the MongoDB collection.

Query â€“ This is an optional parameter which defines the selection criteria. In simple words, what you want to search within a collection will be defined as a query.

Projection â€“ This is an optional parameter which defines what to return when the query criteria successfully meet. In simple words, it is a kind of decision making which will take the decision upon the criteria.

In [22]:
for i in coll_creat.find({"name":"nutan"}):
    print(i)

{'_id': ObjectId('644e9946ce21fb70dea8e20f'), 'name': 'nutan', 'class': 'data Science master', 'time': 'flex'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specify an ascending or descending sort respectively.

If a sort returns the same result every time we perform on same data, then such type of sort is known as a stable sort. 
If a sort returns a different result every time we perform on same data, then such type of sort is known as unstable sort.
MongoDB generally performs a stable sort unless sorting on a field that holds duplicate values.  
We can use limit() method with sort() method, it will return first m documents, where m is the given limit.
MongoDB can find the result of the sort operation using indexes.
If MongoDB does not find sort order using index scanning, then it uses top-k sort algorithm.
Syntax:

db.Collection_Name.sort({filed_name:1 or -1})

In [30]:
for i in coll_creat.find():
    print(i)

{'_id': ObjectId('644e9946ce21fb70dea8e20f'), 'name': 'nutan', 'class': 'data Science master', 'time': 'flex'}
{'_id': ObjectId('644e9a09ce21fb70dea8e210'), 'mail_id': 'nutanbagde93@gmail.com', 'phone_no': 9637562740}
{'_id': ObjectId('644e9a84ce21fb70dea8e211'), 'mail_id1': 'nutanbagde93@gmail.com', 'phone_no1': 9637562740}
{'_id': ObjectId('644e9a94ce21fb70dea8e212'), 'name': 'Amy', 'address': 'Apple at 652'}
{'_id': ObjectId('644e9a94ce21fb70dea8e213'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('644e9a94ce21fb70dea8e214'), 'name': 'Michael', 'address': 'Vally 345'}
{'_id': ObjectId('644e9a94ce21fb70dea8e215'), 'name': 'Sandy', 'address': 'Ocean bldv 2'}
{'_id': ObjectId('644e9a94ce21fb70dea8e216'), 'name': 'Betty', 'address': 'Green Gras 1'}
{'_id': ObjectId('644e9a94ce21fb70dea8e217'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('644e9a94ce21fb70dea8e218'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('644e9a94ce21fb70dea8e219'), 'name': 'Vicky', 'address': 'Yellow garden 2'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21a'), 'name': 'Ben', 'address': 'Park lane 38'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21c'), 'name': 'chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21d'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [33]:
# coll_creat.find({},{"name":1, '_id':0}).sort({"name":1})

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Delete one():
To delete one document, we use the delete_one() method.

The first parameter of the delete_one() method is a query object defining which document to delete.

In [37]:
coll_creat.delete_one(data)
for i in coll_creat.find():
    print(i)

{'_id': ObjectId('644e9a09ce21fb70dea8e210'), 'mail_id': 'nutanbagde93@gmail.com', 'phone_no': 9637562740}
{'_id': ObjectId('644e9a84ce21fb70dea8e211'), 'mail_id1': 'nutanbagde93@gmail.com', 'phone_no1': 9637562740}
{'_id': ObjectId('644e9a94ce21fb70dea8e212'), 'name': 'Amy', 'address': 'Apple at 652'}
{'_id': ObjectId('644e9a94ce21fb70dea8e213'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('644e9a94ce21fb70dea8e214'), 'name': 'Michael', 'address': 'Vally 345'}
{'_id': ObjectId('644e9a94ce21fb70dea8e215'), 'name': 'Sandy', 'address': 'Ocean bldv 2'}
{'_id': ObjectId('644e9a94ce21fb70dea8e216'), 'name': 'Betty', 'address': 'Green Gras 1'}
{'_id': ObjectId('644e9a94ce21fb70dea8e217'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('644e9a94ce21fb70dea8e218'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('644e9a94ce21fb70dea8e219'), 'name': 'Vicky', 'address': 'Yellow garden 2'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21a'), 'name': 'Ben', 'address': 'Park lane 38'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21c'), 'name': 'chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21d'), 'name': 'Viola', 'address': 'Sideway 1633'}

Delete_many()
Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

Syntax:

collection.delete_many(filter, collation=None, hint=None, session=None)

In [40]:
coll_creat.delete_many(data1)
for i in coll_creat.find():
    print(i)

{'_id': ObjectId('644e9a09ce21fb70dea8e210'), 'mail_id': 'nutanbagde93@gmail.com', 'phone_no': 9637562740}
{'_id': ObjectId('644e9a94ce21fb70dea8e212'), 'name': 'Amy', 'address': 'Apple at 652'}
{'_id': ObjectId('644e9a94ce21fb70dea8e213'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('644e9a94ce21fb70dea8e214'), 'name': 'Michael', 'address': 'Vally 345'}
{'_id': ObjectId('644e9a94ce21fb70dea8e215'), 'name': 'Sandy', 'address': 'Ocean bldv 2'}
{'_id': ObjectId('644e9a94ce21fb70dea8e216'), 'name': 'Betty', 'address': 'Green Gras 1'}
{'_id': ObjectId('644e9a94ce21fb70dea8e217'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('644e9a94ce21fb70dea8e218'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('644e9a94ce21fb70dea8e219'), 'name': 'Vicky', 'address': 'Yellow garden 2'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21a'), 'name': 'Ben', 'address': 'Park lane 38'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21c'), 'name': 'chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('644e9a94ce21fb70dea8e21d'), 'name': 'Viola', 'address': 'Sideway 1633'}

The drop() Method
MongoDB's db.collection.drop() is used to drop a collection from the database.

Syntax
Basic syntax of drop() command is as follows âˆ’

db.COLLECTION_NAME.drop()

In [41]:
coll_creat.drop()
for i in coll_creat.find():
    print(i)