here we added the new tabletable using folloeing command
1. mycursor.execute("CREATE TABLE my_table.new_table1 (name VARCHAR(40) NOT NULL, age VARCHAR(45) NOT NULL,city VARCHAR(45) NOT NULL) ")

In [6]:
import mysql.connector

mydb = mysql.connector.connect(  
   host="localhost",
   user="root",
   passwd="Gargi@5820"
)

mycursor = mydb.cursor() 
mycursor.execute("CREATE DATABASE if not exists my_table")
mycursor.execute("CREATE TABLE my_table.new_table1 (name VARCHAR(40) NOT NULL, age VARCHAR(45) NOT NULL,city VARCHAR(45) NOT NULL) ")