In [ ]:
# here we added the entry of table

In [8]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost', user='root', passwd ="Gargi@5820" )
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")
for i in mycursor:
    print(i)
mycursor.execute("insert into my_table.new_table values('nutan', 30, 'banglore')")   
mycursor.execute("insert into my_table.new_table values('Roshan', 35, 'banglore')")
mycursor.execute("insert into my_table.new_table values('gargie', 3, 'banglore')")

mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000026245D57290>
('information_schema',)
('my_table',)
('mysql',)
('new_schema',)
('performance_schema',)
('sys',)
('sys_1',)