In [5]:
# !pip install --upgrade pip

Requirement already satisfied: pip in c:\users\meshr\appdata\local\programs\python\python311\lib\site-packages (23.1.2)

In [6]:
#! pip install pymongo

Requirement already satisfied: pymongo in c:\users\meshr\appdata\local\programs\python\python311\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\meshr\appdata\local\programs\python\python311\lib\site-packages (from pymongo) (2.3.0)

In [7]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

In [9]:
uri = "mongodb+srv://nutanbagde93:3i9lXaKEWEBTaLSy@cluster0.94hb1at.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [10]:
client

MongoClient(host=['ac-vpdjxau-shard-00-02.94hb1at.mongodb.net:27017', 'ac-vpdjxau-shard-00-00.94hb1at.mongodb.net:27017', 'ac-vpdjxau-shard-00-01.94hb1at.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-hy146g-shard-0', tls=True, server_api=<pymongo.server_api.ServerApi object at 0x0000025B074DBB90>)

in case Mysql  == create databate data base --> table

MongoDb is called Document base data base. it means u can store data(collection) in dictionry format or json(java script object notation format) in database(1st create a connection)

In [12]:
#creat data base
db=client['Pwskills']

In [13]:
# create a collection
coll_creat=db["My_record"]

In [19]:
# create a data, in mangoDB dictinary called as JSON
data={'name':"nutan",
      "class":"data Science master",
      "time":"flex"
    
}

In [20]:
# strore data in mongoBD == it store unstructured data
coll_creat.insert_one(data)

Pwskills = is my Data base

My_record = collection 

_id:ObjectId(644e8a954f660672eb5536e3"} ==  documment
"name":"nutan"
"class":"data Science master"
"time":"fkex"}

In [22]:
data1={"mail_id": "nutanbagde93@gmail.com",
       "phone_no": 9637562740 
}

In [23]:
coll_creat.insert_one(data1)

In [24]:
data2={"list_couse":["data science master","web dev","java with DSA"],
       "mentor":["sudhanshu","anurag","hyder"]
    
}

In [25]:
coll_creat.insert_one(data2)

In [26]:
data3=[{"name":"Amy" , "address":"Apple at 652"},
       {"name":"Hannah" , "address": "Mountain 21"},
       {"name":"Michael" , "address":"Vally 345"},
       {"name":"Sandy" , "address": "Ocean bldv 2"},
       {"name":"Betty" , "address":"Green Gras 1" },
       {"name":"Richard" , "address": "Sky at 331"},
       {"name":"Susan" , "address":"One way 98"},
       {"name":"Vicky" , "address":"Yellow garden 2"},
       {"name":"Ben" , "address":"Park lane 38"},
       {"name":"William" , "address":"Central st 954"},
       {"name":"chuck" , "address":"Main Road 989"},
       {"name":"Viola" , "address":"Sideway 1633"}
]

In [27]:
coll_creat.insert_many(data3)

In [37]:
data4 ={"name":"notebook", "qty":50, "rating":[{"score":8},{"score":9}], "status":"A", "tags":["college-ruled", "perforated"]}

In [38]:
coll_creat.insert_one(data4)

In [41]:
#give only all record in python
for i in coll_creat.find():
    print(i)

{'_id': ObjectId('644e8b924f660672eb5536e5'), 'name': 'nutan', 'class': 'data Science master', 'time': 'flex'}
{'_id': ObjectId('644e8d764f660672eb5536e6'), 'mail_id': 'nutanbagde93@gmail.com', 'phone_no': 9637562740}
{'_id': ObjectId('644e8e504f660672eb5536e7'), 'list_couse': ['data science master', 'web dev', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('644e902e4f660672eb5536e8'), 'name': 'Amy', 'address': 'Apple at 652'}
{'_id': ObjectId('644e902e4f660672eb5536e9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('644e902e4f660672eb5536ea'), 'name': 'Michael', 'address': 'Vally 345'}
{'_id': ObjectId('644e902e4f660672eb5536eb'), 'name': 'Sandy', 'address': 'Ocean bldv 2'}
{'_id': ObjectId('644e902e4f660672eb5536ec'), 'name': 'Betty', 'address': 'Green Gras 1'}
{'_id': ObjectId('644e902e4f660672eb5536ed'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('644e902e4f660672eb5536ee'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('644e902e4f660672eb5536ef'), 'name': 'Vicky', 'address': 'Yellow garden 2'}
{'_id': ObjectId('644e902e4f660672eb5536f0'), 'name': 'Ben', 'address': 'Park lane 38'}
{'_id': ObjectId('644e902e4f660672eb5536f1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('644e902e4f660672eb5536f2'), 'name': 'chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('644e902e4f660672eb5536f3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('644e92a94f660672eb5536f7'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'status': 'A', 'tags': ['college-ruled', 'perforated']}

In [42]:
#give only first record in python
coll_creat.find_one()

{'_id': ObjectId('644e8b924f660672eb5536e5'),
 'name': 'nutan',
 'class': 'data Science master',
 'time': 'flex'}

In [45]:
for i in coll_creat.find({"name":"nutan"}):
    print(i)

{'_id': ObjectId('644e8b924f660672eb5536e5'), 'name': 'nutan', 'class': 'data Science master', 'time': 'flex'}

In [52]:
# do upadet
coll_creat.update_one({"name":"nutan"},{"$set":{"name":"Ashu"}})

In [53]:
for i in coll_creat.find():
    print(i)

{'_id': ObjectId('644e8b924f660672eb5536e5'), 'name': 'Ashu', 'class': 'data Science master', 'time': 'flex'}
{'_id': ObjectId('644e8d764f660672eb5536e6'), 'mail_id': 'nutanbagde93@gmail.com', 'phone_no': 9637562740}
{'_id': ObjectId('644e8e504f660672eb5536e7'), 'list_couse': ['data science master', 'web dev', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('644e902e4f660672eb5536e8'), 'name': 'Amy', 'address': 'Apple at 652'}
{'_id': ObjectId('644e902e4f660672eb5536e9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('644e902e4f660672eb5536ea'), 'name': 'Michael', 'address': 'Vally 345'}
{'_id': ObjectId('644e902e4f660672eb5536eb'), 'name': 'Sandy', 'address': 'Ocean bldv 2'}
{'_id': ObjectId('644e902e4f660672eb5536ec'), 'name': 'Betty', 'address': 'Green Gras 1'}
{'_id': ObjectId('644e902e4f660672eb5536ed'), 'name': 'Richard', 'address': 'Sky at 331'}
{'_id': ObjectId('644e902e4f660672eb5536ee'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('644e902e4f660672eb5536ef'), 'name': 'Vicky', 'address': 'Yellow garden 2'}
{'_id': ObjectId('644e902e4f660672eb5536f0'), 'name': 'Ben', 'address': 'Park lane 38'}
{'_id': ObjectId('644e902e4f660672eb5536f1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('644e902e4f660672eb5536f2'), 'name': 'chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('644e902e4f660672eb5536f3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('644e92a94f660672eb5536f7'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'status': 'A', 'tags': ['college-ruled', 'perforated']}

In [ ]:
# coll_creat.drop()  # delete the entire database