chek the total row by row entry result

In [4]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost', user='root', passwd ="Gargi@5820" )
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM my_table.new_table")
for i in mycursor.fetchall():
    print(i)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002468C6E6510>
('nutan', '30', 'banglore', None)
('Roshan', '35', 'banglore', None)
('nutan', '30', 'banglore', None)
('Roshan', '35', 'banglore', None)
('gargie', '3', 'banglore', None)

# to get only one column

In [5]:

mycursor.execute("SELECT age FROM my_table.new_table")
for i in mycursor.fetchall():
    print(i)

('30',)
('35',)
('30',)
('35',)
('3',)

In [6]:
mycursor.execute("SELECT name FROM my_table.new_table")
for i in mycursor.fetchall():
    print(i)

('nutan',)
('Roshan',)
('nutan',)
('Roshan',)
('gargie',)